/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin-top: 0;
  background-color: #eff4f5;
  font-family: 'Merriweather', serif;
}

.logo {
  text-decoration: none;
  display: contents;
}

.profile {
  float: right;
}

.welcome {
  font-size: 2em;
  letter-spacing: 1px;
  line-height: 1.2;
  word-spacing: 2px;
  color: #888;
  margin-top: 10px;
}

.welcome .company {
  text-decoration: underline;
  font-style: italic;
}

.search_field {
  height:50px;
  width: 80%;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.search_submit_button {
  height: 50px;
  width: 15%;
}

.illness-details h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.illness-details h3 + p {
  margin-top: 10px;
}

.illness-form .large-text-field {
  width: 80%;
  height: 30px;
}

.illness-form .small-text-area {
  width: 80%;
  height: 50px;
}

.illness-form .large-text-area {
  width: 80%;
  height: 150px;
}

.search-results .result-title {
  margin-top: 20px;
  margin-bottom: 5px;
}

.search-results .result-title a {
  text-decoration: none;
}

.search-results .result-symptoms {
  margin-top: 5px;
}

ul.hmenu {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: inline;
}
